extends layout
block extendedHead
    title= htmlWebpackPlugin.options.title

block content
    include navigation

    div.landscape
    div.filter
    canvas#canvas

    -
        var collections = [
            [{
                img:"/images/collections/hylab.png",
                link: "http://apps.hyblab.fr/ddj2016/ouest_france/",
                title: "Ouest France",
                description: "Web data-visualisation",
                date: "2016.01 - 2016.02",
                description2: "(PC only)"
            },
            {
                img:"/images/collections/dashboard.png",
                link: "/react",
                title: "Hoolders",
                description: "React dashboard web application",
                date: "2017.06 - 2017.09",
                description2: "(Login required)"
            }],
            [
                {
                img:"/images/collections/hoolders.png",
                link: "https://hoolders.com/",
                title: "Hoolders",
                description: "Hoolders Home page",
                date: "2017.02 - 2017.03",
                description2: ""
                }
            ]
        ];

    mixin collection-generator(collection,index)
        div.col-sm-12.col-md-6
            div.collection-group
                img(src=collection.img)
                a(href=collection.link target="_blank")
                    div.overlay
                        h2=(collection.title)
                        p.description=(collection.description)
                        p.date=(collection.date)
                        if collection.description2
                            p.description=(collection.description2)

    mixin row-generator(row)
        div.row
            for collection, index in row
                +collection-generator(collection,index)


    div.container-fluid.collection
        div.row
            div.col-10.offset-1
                for row in collections
                    +row-generator(row)

block scripts
    //script(src="https://rawgit.com/dataarts/dat.gui/master/build/dat.gui.min.js")